@font-face {

    font-family: 'Lato';
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: regular;

  }

  @font-face {
    font-family: 'UnicaOne';
    src: url("../fonts/Unica_One/UnicaOne-Regular.ttf") format("truetype");
  
  }

  @font-face {
    font-family: 'orkney';
    src: url("../fonts/orkney/orkney-bold.otf") format("opentype");
    font-weight: bold;
  }

  :root{

/*-------COULEURS----------------------*/
    --ga_blou: #05386B;
    --ga_beige:#EDF5E1;
    --ga_turquoise: #39cbd8;
  
    --ga_rougeCorail:#FF595A;

/*----------NOVEMBER----------------------------*/
    
    --ga_morningFog:#8FA9B5;
    --ga_alpine:#6587A1;
    --ga_evergreen:#38524C;
    --ga_lakeSummit:#3F778C;
    --ga_blackIce:#323D42;
    --ga_dawnPinkDark: #87065c;

/*--------------------------------------*/

    

    /*--ga_headerBackground:#141E46;*/
    --ga_headerBackground:#190b2c;
    --ga_headerFont:#39cbd8;
    --ga_bodyBackground:#190b2c;
    --ga_bodyFont:#CBDCED;
    --ga_titleAndButtons:#03be6a;
    --ga_firstFrost: #CBDCED;

/*--------------------------------------*/
    /*
    --ga_lapis:#0A8754;
    --ga_federal: #140D4F;*/
    --ga_bleuProfond: #001233;
    --ga_grinClair:#8EE4AF;
    --ga_grinFonce:#379683;
    --ga_sapin:#03be6a;
    --ga_grin:#5CDB95;
    --ga_caro:#86BBD8;
    --ga_charcoal: #2F4858;
    --ga_blue:#2a6abc;
    /*--ga_turquoise: #3D9BA3;*/
    /*--ga_greenLight:#48aef3;*/
    --ga_greenLight:#EDFDFC;
    --ga_grey:#2e2e2e;
    --ga_white:#ffffff;
    /*--ga_background: #f8f3e0;*/
    --ga_selected:#dbd3bc;
    --ga_amythest:#140d4f;
    --ga_keylime:#D1E0DE;
    --ga_charcoal:#383838;
  }

  /*--------------GENERAL------------------------*/

  html {
   height: 95%;
  }

  body {
    font-family: "Lato";
    font-size: 18px;
    /*line-height: 26px; *//*interligne*/
    color: var(--ga_bodyFont);
    font-weight: 500;
    letter-spacing: .05em; /*espace horizontale entre les lettres*/
    background-color:var(--ga_bodyBackground);

    min-height: 100%;
    padding-bottom:80px; /* Hauteur du pied de page */
    position: relative;
  
  }


  footer {
    color: var(--ga_blou);
    position:absolute;

    bottom:0;  /* on le colle en bas */
    width:100%;
    height:80px;   /* Hauteur du pied de page */
  }

  * {
    -moz-box-sizing: border-box; box-sizing: border-box;
    /*Appliquée à l'ensemble des éléments, box-sizing va limiter la hauteur de <body> à 100%.*/
  }

  .container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
  }




 /*-----------------------NAV-&-BURGER--------------------------*/
 li {
  display: inline-block;
}

#nav {
  justify-content: center;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 5px;
}

.nav li a {
  color: var(--ga_headerFont);
  font-size: 30px;
  text-decoration: none;
  font-family: "UnicaOne";
}

.nav li a:hover {
  font-weight: bold;
}

.nav li:not(:last-child):after {
  content: "-";
  font-family: "UnicaOne";
  font-size: 30px;
  display: inline-block;
  margin-left: 20px;
  color: var(--ga_headerFont);
}

#encours a 
	{
    font-weight: bold;
    /*border-bottom: 2px solid var(--ga_bleuProfond);*/
	} 

    /*---mobile---BURGER----*/

 @media screen and (max-width: 768px) {
 #menu {
  z-index: 2;
}

li {
  display:block;
}

.nav li:not(:last-child):after {
  display: none;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--ga_rougeCorail);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 1em;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, var(--ga_turquoise), var(--ga_turquoise));
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}
}


  /*----------------------WEBKIT---------------------------*/
  
  ::-webkit-selection {
    color: var(--ga_white);
    background: #EDFFEB;
  }
  
  ::-moz-selection {
    color: var(--ga_white);
    background: var(--ga_greenLight);
  }
  
  ::selection {
    /*si selection d'une partie du texte sur la page*/
    color: var(--ga_white);
    background: var(--ga_greenLight);
  }
  
  a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
  }


/*----------------------SPACERS-&-LINES---------------------------*/

  .ga_spacer {
    clear: both;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .ga_spacer_xlg {
    height: 150px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_xlg {
      height: 80px;
    }
  }
  
  .ga_spacer_lg {
    height: 100px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_lg {
      height: 70px;
    }
  }
  
  .ga_spacer_md {
    height: 80px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_md {
      height: 50px;
    }
  }

  .ga_spacer_sm {
    height: 50px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_sm {
      height: 20px;
    }
  }
  
  .ga_spacer_xs {
    height: 30px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_xs {
      height: 20px;
    }
  }
  
  .ga_spacer_xxs {
    height: 30px;
  }

  .ga_spacer_xxs {
    height: 30px;
  }

  #ga_line {
  border-top: 5px solid;
  border-color: var(--ga_rougeCorail);
  width : 40%;
  margin-left: auto;
  margin-right: auto;
  }
  
  
/*---------------HEADER---------------------------------------*/

#ga_header {
  display: block;
  padding: 5px 0;
  float: left;
  margin-bottom: 1em;
  width: 100%;
  background-color: var(--ga_headerBackground);
}
@media screen and (max-width: 768px) {
  #ga_header #ga_main_nav {
    display: none;
  }
}

h1 {
  font-family: 'orkney';
  font-weight: bolder !important;
  font-size: 50px;
  line-height: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  position: relative;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  h1 {
  font-size: 30px;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  }
}

/*--------------SECTION-PRESENTATION-------------------------*/

  .ga_half {
    width: 100%;
    background: var(--ga_background);
  }

  #ga_img_id{
    width: 300px ;
    margin: 0;
  }

   .ga_section_title .ga_title,
   .ga_page_title .ga_title {
     font-family: "UnicaOne";
     /* police Unica One pour les titres*/
     text-transform: uppercase;
     /*border-bottom: 2px solid #2e2e2e;*/
     font-size: 30px;
     line-height: 40px;
     display: inline-block;
     color: var(--ga_titleAndButtons);
   }

   .ga_btn_other_option {
    float: left;
    margin-right: 10px;
    background-color: var(--ga_titleAndButtons);
    color: var(--ga_headerBackground);
    border-radius: 5px;
    padding: 1em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .ga_btn_other_option:hover{
    background-color: var(--ga_turquoise);
    color: white;
  }


  /*---------------FOOTER----------------*/



  .ga_copyright {
    font-size: 12px;
    color: var(--ga_firstFrost);
    margin-bottom: 0;
  }

  .ga_logo{
    max-width: auto;
    height: 70px;
  }
  
  
