@font-face {

    font-family: 'Lato';
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: regular;

  }

  @font-face {
    font-family: 'UnicaOne';
    src: url("../fonts/Unica_One/UnicaOne-Regular.ttf") format("truetype");
  
  }

  @font-face {
    font-family: 'orkney';
    src: url("../fonts/orkney/orkney-bold.otf") format("opentype");
    font-weight: bold;
  }

  @font-face {
    font-family: 'Finland';
    src: url("../fonts/finland_rounded/Finland\ Rounded\ Thin.ttf") format("truetype");
    font-weight: regular;
  }

  @font-face {
    font-family: 'Tulpen';
    src: url("../fonts/tulpen-one/TulpenOne-Regular.ttf") format("truetype");
    font-weight: regular;
  }

  @font-face {
    font-family: 'mona_shark';
    src: url("../fonts/helgoland/Helgoland.otf") format("opentype");
    font-weight: regular;
  }



  :root{

/*-------COULEURS----------------------*/

 
    --ga_headerBackground:#f2f2f2ff;
    --ga_headerFont:#040577ff;
    /*--ga_headerFont:#31647bff;*/
    
    --ga_bodyBackground:#f2f2f2ff;
    --ga_bodyFont:#040577ff;
    --ga_titleAndButtons:#040577ff;

    --ga_firstFrost: #CBDCED;
    --ga_nightBlue:#0b253c;

    --ga_greensh: #00eebb;
    --ga_purpleBoss:#013328;
    --ga-bloulouh : #22afd2;

    --ga_forestIci : #013328;
    --ga_bloulagoune : #191718;

    --ga_neige: #dfebe9ff;
    /*--ga_bleuClair : #5f98b5ff; */
    --ga_bleuVert:rgb(65, 103, 112);
    --ga_bleuMarine : #262d47ff;
    --ga_vert : #70bd85ff;
    --ga_jaune : #bbc48bff;


    /***************************/
    --ga_blou:		  #1d388fff;
    --ga_blouDip:		#040577ff;
    --ga_griin:		  #0b83a9ff;
    --ga_griinDip:	#035b83ff;
    --ga_gri:	    	#f2f2f2ff;
    --ga_griDip:		#ecececff;
    --ga_almostBack:#0d0d0dff;

    --ga_fedBlue:   #140d4f;

    /**PALETTE GUILLUSTRR*************************/
    --ga_dark:       #182628;
    --ga_almostWhite:#F2F2F2;
    --ga_bleu:       #164450;



    --ga_fedBlue:   #140d4f;
    --ga_bleuVert:rgb(65, 103, 112);
    --ga_bleucccc:rgb(9, 114, 138);
    --ga_aquoi:      #ddb92a;
    --ga_vertClair:  #57BA98;
    --ga_sapin:      #00da6d;



  }

  /*--------------GENERAL------------------------*/

  html {
   height: 90%;

  }

  body {
    height: 100%;
    font-family: "Lato";
    font-size: 18px;
    /*line-height: 26px; *//*interligne*/
    color: var(--ga_dark);
    font-weight: 500;
    letter-spacing: .05em; /*espace horizontale entre les lettres*/
    background-color: var(--ga_almostWhite);


    min-height: 100%;
    padding-bottom:80px; /* Hauteur du pied de page */
    position: relative;
  
  }


  footer {
    text-align: center;
    color: var(--ga_blou);
    /* position:absolute; */

    bottom:0;  /* on le colle en bas */
    width:100%;
    height:80px;   /* Hauteur du pied de page */
  }

  * {
    -moz-box-sizing: border-box; box-sizing: border-box;
    /*Appliquée à l'ensemble des éléments, box-sizing va limiter la hauteur de <body> à 100%.*/
  }

  .container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 768px) {
    .container{
      width: 100%;
    }
  }

  a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;

  }




 /*-----------------------NAV-&-BURGER--------------------------*/
 li {
  display: inline-block;
}

#nav {
  justify-content: right;
}

.nav {
  padding-top: 35px;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 5px;
}

.nav li a {
  color: var(--ga_dark);
  font-size: 22px;

  text-decoration: none;
  font-family: "UnicaOne";
}

.nav li a:hover {
  font-weight: bold;
}

.nav li:not(:last-child):after {
  content: "-";
  font-family: "UnicaOne";
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
  color: var(--ga_dark);
}

#encours a 
	{
    font-weight: bold;
    /*border-bottom: 5px solid var(--ga_headerFont);*/
	} 

    /*---mobile---BURGER----*/

 @media screen and (max-width: 768px) {
 #menu {
  z-index: 2;
}

li {
  display:block;
}

.nav li:not(:last-child):after {
  display: none;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--ga_dark);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
  padding-top: 0;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 1em;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, var(--ga_bleu), var(--ga_bleu));
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}
}


  /*----------------------WEBKIT---------------------------*/
  
  ::-webkit-selection {
    color: var(--ga_white);
    background: #EDFFEB;
  }
  
  ::-moz-selection {
    color: var(--ga_white);
    background: var(--ga_greenLight);
  }
  
  ::selection {
    /*si selection d'une partie du texte sur la page*/
    color: var(--ga_white);
    background: var(--ga_greenLight);
  }
  
  a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
  }


/*----------------------SPACERS-&-LINES---------------------------*/

  .ga_spacer {
    clear: both;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .ga_spacer_xlg {
    height: 150px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_xlg {
      height: 80px;
    }
  }
  
  .ga_spacer_lg {
    height: 100px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_lg {
      height: 70px;
    }
  }
  
  .ga_spacer_md {
    height: 80px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_md {
      height: 50px;
    }
  }

  .ga_spacer_sm {
    height: 50px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_sm {
      height: 20px;
    }
  }
  
  .ga_spacer_xs {
    height: 30px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_xs {
      height: 20px;
    }
  }
  
  .ga_spacer_xxs {
    height: 30px;
  }

  .ga_spacer_xxs {
    height: 30px;
  }

  #ga_line {
  border-top: 5px solid;
  border-color: var(--ga_rougeCorail);
  width : 40%;
  margin-left: auto;
  margin-right: auto;
  }
  
  
/*---------------HEADER---------------------------------------*/

#ga_header {
  text-align: center;
  display: block;
  padding: 5px 0;
  float: left;
  margin-bottom: 1em;
  width: 100%;
  /*background-color: var(--ga_headerBackground);*/
}
@media screen and (max-width: 768px) {
  #ga_header #ga_main_nav {
    display: none;
  }

  #ga_header {
    padding-bottom: 50px;
  }
}

h1 {
  font-family: 'mona_shark';
  font-weight: bolder !important;
  /*color: #CBDCED;*/
  /*color: #036160;*/
  color: var(--ga_dark);
  font-size: 70px;
  line-height: 1em;
  margin-bottom: 0.5em;
  /* margin-top: 0.5em; */
  /* position: relative; */

}
@media screen and (max-width: 768px) {
  h1 {
  font-size: 50px;
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  }
}

/*--------------SECTION-PRESENTATION-------------------------*/

  .ga_half {
    width: 100%;
    /*background: var(--ga_griDip);*/
    border-radius: 10px;
    /*box-shadow: 5px 5px 2px 1px var(--ga_griDip);*/
    margin-bottom: 50px;
  }

  #ga_img_id{
    /*width: 300px ;*/
    max-width: 100%;
    margin: 0;
  }

   .ga_section_title .ga_title,
   .ga_page_title .ga_title {
     font-family: "UnicaOne";
     /* police Unica One pour les titres*/
     /* text-transform: uppercase; */
     /*border-bottom: 2px solid #2e2e2e;*/
     font-size: 30px;
     /* font-weight: bold; */
     line-height: 40px;
     display: inline-block;
     color:var(--ga_bleu);
   }

   .ga_btn_other_option {
    float: left;
    margin-right: 10px;
    /* font-weight: bold; */
    background-color: var(--ga_dark);
    color: var(--ga_almostWhite);
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .ga_btn_other_option:hover{
    background-color: var(--ga_bleu);
    color: var(--ga_almostWhite);
  }


  /*---------------SECTION CV-----------------*/

  .ga_pdf{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

  }

  /*---------------FOOTER----------------*/



  .ga_copyright {
    font-size: 15px;
    color: var(--ga_dark);
    margin-bottom: 0;
  }

  .ga_logo{
    max-width: auto;
    height: 70px;
  }
  
  /*--------SLIDER---------------------------------*/

.wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    /* overflow: hidden; */
    font-size: xx-small !important;

  }

  .item img{
    max-width: 70px;
    max-height: 70px;
    margin-left: 10px;
    margin-right: 10px;
  }
 
  .item {

    width: 100px;
    height: 100px;

  }
 /*
  .container:hover .item {
    animation-play-state: paused;
  }
  @keyframes animate {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @media (max-width:767px) {
    .wrapper {
      width: 95%;
      border-radius: 0;
      padding: 0;
    }
  } */

  /* *
  .
  charge les roles foreach desus
  document role charge je supprimme tout 
  je regarde ce que jai recu du formulaires
  je fais un persist */



  