@font-face {
    font-family: 'themify';
    src: url("../fonts/themify/themify.eot?-fvbane");
    src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  :root{

/*-------COULEURS----------------------*/
    --ga_blou: #05386B;
    --ga_beige:#EDF5E1;
    --ga_turquoise: #39cbd8;
    --ga_purple : #87065c;
    --ga_rougeCorail:#FF595A;

/*--------------------------------------*/


    /*
    --ga_lapis:#0A8754;
    --ga_federal: #140D4F;*/
    --ga_bleuProfond: #001233;
    --ga_grinClair:#8EE4AF;
    --ga_grinFonce:#379683;
    --ga_sapin:#019b56;
    --ga_grin:#5CDB95;
    --ga_caro:#86BBD8;
    --ga_charcoal: #2F4858;
    --ga_blue:#2a6abc;
    /*--ga_turquoise: #3D9BA3;*/
    /*--ga_greenLight:#48aef3;*/
    --ga_greenLight:#EDFDFC;
    --ga_grey:#2e2e2e;
    --ga_white:#ffffff;
    /*--ga_background: #f8f3e0;*/
    --ga_selected:#dbd3bc;

  }

  /*--------------GENERAL------------------------*/

  html {
   height: 90%;
  }

  body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    /*line-height: 26px; *//*interligne*/
    color: var(--ga_blou);
    font-weight: 500;
    letter-spacing: .05em; /*espace horizontale entre les lettres*/
    background-color:#E6E5E1;

    min-height: 100%;
    padding-bottom:80px; /* Hauteur du pied de page */
    position: relative;
  
  }


  footer {
    color: var(--ga_blou);
    position:absolute;

    bottom:0;  /* on le colle en bas */
    width:100%;
    height:80px;   /* Hauteur du pied de page */
  }

  * {
    -moz-box-sizing: border-box; box-sizing: border-box;
    /*Appliquée à l'ensemble des éléments, box-sizing va limiter la hauteur de <body> à 100%.*/
  }

  .container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
  }

  h1 {
    font-weight: bolder !important;
    font-size: 40px;
    line-height: 27px;
    margin-bottom: 1em;
    margin-top: 1em;
    position: relative;
    padding-bottom: 30px;
    color: var(--ga_rougeCorail);
  }
  @media screen and (max-width: 768px) {
    h1 {
    line-height: 1em;
    margin-top: 2em;
    }
  }


 /*-----------------------BURGER--------------------------*/

 #menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--ga_rougeCorail);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 1em;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, var(--ga_turquoise), var(--ga_turquoise));
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}



  /*----------------------WEBKIT---------------------------*/
  
  ::-webkit-selection {
    color: var(--ga_white);
    background: #EDFFEB;
  }
  
  ::-moz-selection {
    color: var(--ga_white);
    background: var(--ga_greenLight);
  }
  
  ::selection {
    /*si selection d'une partie du texte sur la page*/
    color: var(--ga_white);
    background: var(--ga_greenLight);
  }
  
  a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
  }


/*----------------------SPACERS-&-LINES---------------------------*/

  .ga_spacer {
    clear: both;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .ga_spacer_xlg {
    height: 150px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_xlg {
      height: 80px;
    }
  }
  
  .ga_spacer_lg {
    height: 100px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_lg {
      height: 70px;
    }
  }
  
  .ga_spacer_md {
    height: 80px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_md {
      height: 50px;
    }
  }

  .ga_spacer_sm {
    height: 50px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_sm {
      height: 20px;
    }
  }
  
  .ga_spacer_xs {
    height: 30px;
  }
  @media screen and (max-width: 768px) {
    .ga_spacer_xs {
      height: 20px;
    }
  }
  
  .ga_spacer_xxs {
    height: 30px;
  }

  .ga_spacer_xxs {
    height: 30px;
  }

  #ga_line {
  border-top: 3px solid;
  border-color: var(--ga_federal);
  width : 40%;
  margin-left: auto;
  margin-right: auto;
  } 
/*---------------NAV---------------------------------------*/

#ga_header #ga_main_nav {
  display: block;
  padding: 5px 0;
  float: left;
  margin-bottom: 1em;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #ga_header #ga_main_nav {
    display: none;
  }
}
#ga_header #ga_nav {
  text-align: center;
}
#ga_header #ga_nav li {
  display: inline-block;
  list-style: none;
  position: relative;
  padding-right: 20px;
}
#ga_header #ga_nav li a {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--ga_blou);
  padding: 4px 10px;
}
#ga_header #ga_nav li a:hover {
  color:var(--ga_turquoise);
}
#ga_header #ga_nav li::after {
  position: absolute;
  right: 2px;
  top: 50%;
  content: '';
  height: 2px;
  width: 15px;
  background: var(--ga_federal);
}
#ga_header #ga_nav li:last-child::after {
  width: 0;
  height: 0;
  background: none;
  content: '';
}
#ga_header #ga_nav li.active a {
  color:var(--ga_turquoise);
  border-bottom: 4px solid var(--ga_turquoise);
}
@media screen and (max-width: 768px) {
  #ga_header #ga_nav {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  #ga_header #ga_nav ul {
    padding: 0;
    margin: 0;
  }
  #ga_header #ga_nav li {
    display: block;
    margin-bottom: 10px;
    padding: 0 !important;
    margin-left: -50px;
    opacity: 0;
  }
  #ga_header #ga_nav li::after {
    background: transparent;
    width: 0;
    height: 0;
    background: none;
    content: '';
  }
  #ga_header #ga_nav li a {
    display: block;
    padding: 0 !important;
    margin: 0 !important;
  }
}
/* --------------HEADER------------------------------------*/

  .ga_half {
    width: 100%;
    background: var(--ga_background);
  }

  #ga_img_id{
    width: 300px ;
    margin: 0;
  }

  #ga_header {
      margin-top: 3em;
      margin-bottom: 0em;
  }
  @media screen and (max-width: 768px) {
    #ga_header {
      margin-top: 4em;
      margin-bottom: 2em;
    }
  }

  @media screen and (max-width: 768px) {
    #ga_header #ga_logo {
      margin-bottom: .5em;
    }
  }
 

/*--------------SECTION-PRESENTATION-------------------------*/

   .ga_section_title .ga_title,
   .ga_page_title .ga_title {
     font-family: "Unica One", sans-serif;
     /* police Unica One pour les titres*/
     text-transform: uppercase;
     /*border-bottom: 2px solid #2e2e2e;*/
     font-size: 30px;
     line-height: 40px;
     display: inline-block;
     color: #87065c;
   }

   .ga_btn_other_option {
    float: left;
    margin-right: 10px;
    background-color: #87065c;
    color: white;
    border-radius: 5px;
    padding: 1em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .ga_btn_other_option:hover{
    background-color: var(--ga_turquoise);
    color: white;
  }


  /*---------------FOOTER----------------*/



  .ga_copyright {
    font-size: 15px;
    color: var(--ga_blou);
    margin-bottom: 0;
  }

  .ga_logo{
    max-width: auto;
    height: 70px;
  }
  /*
  #ga_footer .ga_footer_widget {
    margin-bottom: 10px;
  }
  @media screen and (max-width: 768px) {
    #ga_footer .ga_footer_widget {
      margin-bottom: 30px;
    }*/
  
