@font-face {
    font-family: 'themify';
    src: url("../fonts/themify/themify.eot?-fvbane");
    src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  :root{
    --ga_lapis:#336699;
    --ga_turquoise: #35E9DD;
    --ga_federal: #140D4F;
    --ga_carolina:#86BBD8;

    /*--ga_greenLight:#48aef3;*/
    --ga_greenLight:#EDFDFC;
    --ga_grey:#2e2e2e;
    --ga_white:#ffffff;
    /*--ga_background: #f8f3e0;*/
    --ga_selected:#dbd3bc;
   
    --ga_blue:#2a6abc;
    /*--ga_background: #FFEDE1;*/
  }

  body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: var(--ga_federal);
    font-weight: 300;
    letter-spacing: .05em;
    background-color: var(--ga_greenLight);
  }

  .container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  
  ::-webkit-selection {
    color: var(--ga_white);
    background: var(--ga_greenLight);
  }
  
  ::-moz-selection {
    color: var(--ga_white);
    background: var(--ga_greenLight);
  }
  
  ::selection {
    color: var(--ga_white);
    background: var(--ga_greenLight);
  }
  
  a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
  }
  a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
  }

  .ga_spacer {
    clear: both;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
  }

  .ga_spacer_xxs {
    height: 30px;
  }

  .ga_spacer_sm {
    height: 50px;
  }

  .ga_spacer_lg {
    height: 100px;
  }

  #ga_line {
  border-top: 3px solid;
  border-color: var(--ga_federal);
  width : 40%;
  margin-left: auto;
  margin-right: auto;
  } 

    /* --------------HEADER-------------------*/

  .ga-intro {
    font-weight: bolder !important;
    font-size: 40px;
    line-height: 27px;
    margin-bottom: 1em;
    margin-top: 1em;
    position: relative;
    padding-bottom: 30px;
    color: var(--ga_federal);
  }

  .ga-half {
    width: 100%;
    background: var(--ga_greenLight);
  }

  #ga_img_id{
    width: 300px ;
    margin: 0;
  }

  .ga-logo{
    max-width: auto;
    height: 200px;
  }

  #ga_header {
      margin-top: 0em;
      margin-bottom: 0em;
      /*background-color:var(--ga_federal);*/
  }
  @media screen and (max-width: 768px) {
    #ga_header {
      margin-top: 4em;
      margin-bottom: 2em;
    }
  }

  #ga_header #ga-logo {
    margin-bottom: .7em;
  }
  @media screen and (max-width: 768px) {
    #ga_header #ga-logo {
      margin-bottom: .5em;
    }
  }
  #ga_header #ga_main_nav {
    display: block;
    padding: 5px 0;
    float: left;
    margin-bottom: 1em;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    #ga_header #ga_main_nav {
      display: none;
    }
  }
  #ga_header #ga_nav {
    text-align: center;
  }
  #ga_header #ga_nav li {
    display: inline-block;
    list-style: none;
    position: relative;
    padding-right: 20px;
  }
  #ga_header #ga_nav li a {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--ga_federal);
    padding: 4px 10px;
  }
  #ga_header #ga_nav li a:hover {
    color: var(--ga_green);
  }
  #ga_header #ga_nav li::after {
    position: absolute;
    right: 2px;
    top: 50%;
    content: '';
    height: 2px;
    width: 15px;
    background: var(--ga_federal);
  }
  #ga_header #ga_nav li:last-child::after {
    width: 0;
    height: 0;
    background: none;
    content: '';
  }
  #ga_header #ga_nav li.active a {
    color: var(--ga_federal);
    /*background-color: var(--ga_selected);*/
    /*background-color: #35E9DD;*/
    border-bottom: 4px solid var(--ga_lapis);
    /*border-radius: 3px;*/
  }
  @media screen and (max-width: 768px) {
    #ga_header #ga_nav {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 0;
      padding-right: 0;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    #ga_header #ga_nav ul {
      padding: 0;
      margin: 0;
    }
    #ga_header #ga_nav li {
      display: block;
      margin-bottom: 10px;
      padding: 0 !important;
      margin-left: -50px;
      opacity: 0;
    }
    #ga_header #ga_nav li::after {
      background: transparent;
      width: 0;
      height: 0;
      background: none;
      content: '';
    }
    #ga_header #ga_nav li a {
      display: block;
      padding: 0 !important;
      margin: 0 !important;
    }
  }

   /* ------------fin--HEADER-------------------*/


   .ga_section_title .ga_title,
   .ga_page_title .ga_title {
     font-family: "Unica One", sans-serif;
     text-transform: uppercase;
     /*border-bottom: 2px solid #2e2e2e;*/
     font-size: 30px;
     line-height: 40px;
     display: inline-block;
   }

   .ga_btn_other_option {
    float: left;
    margin-right: 10px;
    background-color: var(--ga_federal);
    color: white;
    border-radius: 5px;
    padding: 1em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .ga_btn_other_option:hover{
    background-color: var(--ga_lapis);
    color: white;
  }


  /*---------------FOOTER----------------*/

  #ga_footer {
    padding: 1em 0;
    background-color: var(--ga_lapis);
    color: white;
  }
  #ga_footer a {
    color: #bababa;
    border-bottom: 1px solid transparent;
  }
  #ga_footer a:hover, #ga_footer a:active, #ga_footer a:focus {
    outline: none;
    color: #2e2e2e;
    border-bottom: 1px solid #027BCE;
  }
  #ga_footer ul {
    padding: 0;
    margin: 0;
  }
  #ga_footer ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
  }
  #ga_footer .fh5co-copyright {
    font-size: 13px;
  }
  #ga_footer .ga_footer_widget {
    margin-bottom: 10px;
  }
  @media screen and (max-width: 768px) {
    #ga_footer .ga_footer_widget {
      margin-bottom: 30px;
    }
  }
  #ga_footer .ga_copyright {
    color: var(--ga_federal);
  }

   /*---------FIN------FOOTER----------------*/